
@import url('https://fonts.googleapis.com/css?family=Lato');

/* default */
/* *,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body */
/* body {

}
.head{
  width: 100%;
  height: 100vh;
} */
.cards,
.cards::after,
.cards::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.cards{
  min-height: 100vh;
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  /* background: hsl(220, 10%, 12%); */
  font-family: "Lato", "Segoe Ui", -apple-system, BlinkMacSystemFont, sans-serif;
}
/* .flip-card-container */
.cards .flip-card-container {
  --hue: 150;
  --primary: hsl(var(--hue), 50%, 50%);
  --white-1: hsl(0, 0%, 90%);
  --white-2: hsl(0, 0%, 80%);
  --dark: hsl(var(--hue), 25%, 10%);
  --grey: hsl(0, 0%, 50%);

  width: 250px;
  height: 500px;
  margin: 40px;

  perspective: 1000px;
}

/* .flip-card */
.cards .flip-card {
  width: inherit;
  height: inherit;

  position: relative;
  transform-style: preserve-3d;
  transition: .6s .1s;
}

/* hover state */
.cards .flip-card-container:hover .flip-card,
.cards .flip-card-container:focus-within .flip-card {
  transform: rotateY(180deg);
}

/* .card-... */
.cards .card-front,
.cards .card-back {
  width: 100%;
  height: 100%;
  border-radius: 24px;

  background: var(--dark);
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;

  backface-visibility: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* .card-front */
.cards .card-front {
  transform: rotateY(0deg);
  z-index: 2;
}

/* .card-back */
.cards .card-back {
  transform: rotateY(180deg);
  z-index: 1;
}

/* figure */
.cards figure {
  z-index: -1;
  text-align: center;
  position: center;
  top: 50%;
}

/* figure, .img-bg */
.cards figure,
.cards .img-bg {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}

/* img */
.cards img {
  height: 100%;
  border-radius: 24px;
}

/* over image content */
.cards .card-front-text1{
  font-size: 3rem;
  opacity: 0.3;
  margin-right: 1.5rem;
  margin-left: 0.5rem;
  left: 3rem;
  position: absolute;
  z-index: 999;
  text-align: center;
  justify-content: center;
  top: 28%;
  width: 60%:
}
.cards .card-front-text2{
  font-size: 3rem;
  opacity: 0.3;
  margin-right: 1.5rem;
  margin-left: 0.5rem;
  left: 0.8rem;
  position: absolute;
  z-index: 999;
  text-align: center;
  justify-content: center;
  top: 28%;
  width: 60%:
}
.cards .card-front-text3{
  font-size: 3rem;
  opacity: 0.3;
  margin-right: 1.5rem;
  margin-left: 0.5rem;
  left: 6.6rem;
  position: absolute;
  z-index: 999;
  text-align: center;
  justify-content: center;
  top: 28%;
  width: 60%:
}


/* .img-bg */
.cards .img-bg {
  background: hsla(var(--hue), 25%, 10%, .5);
}

.cards .card-front .img-bg {
  /* clip-path: polygon(0 0, 100% 100%, 100% 100%, 0 100%); */
}

.cards .card-front .img-bg::before {
  content: "";

  position: absolute;
  top: 34%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(18deg);

  width: 100%;
  height: 6px;
  border: 1px solid var(--primary);
  border-left-color: transparent;
  border-right-color: transparent;

  transition: .1s;
}

.cards .card-back .img-bg {
  /* clip-path: polygon(0 0, 100% 0, 100% 80%, 0 60%); */
}

/* hover state */
.cards .flip-card-container:hover .card-front .img-bg::before {
  width: 6px;
  border-left-color: var(--primary);
  border-right-color: var(--primary);
}

/* ul */
.cards ul {
  padding-top: 40%;
  margin: 0 auto;
  width: 70%;
  height: 100%;

  list-style: none;
  color: var(--white-1);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  left: 50%;
  vertical-align: center;
  transform: translate(-50%,-20%) translateX(50%);
}

/* li */
.cards li {
  width: 100%;
  margin-top: 12px;
  padding-bottom: 18px;

  font-size: 14px;
  text-align: center;

  position: relative;
}

.cards li:nth-child(2n) {
  color: var(--white-2);
}

.cards li:not(:last-child)::after {
  content: "";

  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 1px;

  background: currentColor;
  opacity: .2;
}

/* button */
.cards button {
  font-family: inherit;
  font-weight: bold;
  color: var(--white-1);

  letter-spacing: 2px;

  padding: 9px 20px;
  border: 1px solid var(--grey);
  border-radius: 1000px;
  background: transparent;
  transition: .3s;

  cursor: pointer;
}

.cards button:hover,
.cards button:focus {
  color: var(--primary);
  background: hsla(var(--hue), 25%, 10%, .2);
  border-color: currentColor;
}

.cards button:active {
  transform: translate(2px);
}

/* .design-container */
.cards .design-container {
  --tr: 90;
  --op: .5;

  width: 100%;
  height: 100%;

  background: transparent;
  position: absolute;
  top: 0;
  left: 0;

  pointer-events: none;
}

/* .design */
.cards .design {
  display: block;

  background: var(--grey);
  position: absolute;

  opacity: var(--op);
  transition: .3s;
}

.cards .design--1,
.cards .design--2,
.cards .design--3,
.cards .design--4 {
  width: 1px;
  height: 40%;
}

.cards .design--1,
.cards .design--2 {
  top: 0;
  transform: translateY(calc((var(--tr) - (var(--tr) * 2)) * 1%))
}

.cards .design--1 {
  left: 20%;
}

.cards .design--2 {
  left: 80%;
}

.cards .design--3,
.cards .design--4 {
  bottom: 0;
  transform: translateY(calc((var(--tr) + (var(--tr) - var(--tr))) * 1%))
}

.cards .design--3 {
  left: 24%;
}

.cards .design--4 {
  left: 76%;
}

.cards .design--5,
.cards .design--6,
.cards .design--7,
.cards .design--8 {
  width: 40%;
  height: 1px;
}

.cards .design--5,
.cards .design--6 {
  left: 10%;
  transform: translateX(calc((var(--tr) - (var(--tr) * 2)) * 1%));
}

.cards .design--5 {
  top: 41%;
}

.cards .design--6 {
  top: 59%;
}

.cards .design--7,
.cards .design--8 {
  right: 0;
  transform: translateX(calc((var(--tr) + (var(--tr) - var(--tr))) * 1%))
}

.cards .design--7 {
  top: 44%;
}

.cards .design--8 {
  top: 56%;
}

/* states */
/* .cards button:hover+.design-container,
.cards button:active+.design-container,
.cards button:focus+.design-container {
  --tr: 20;
  --op: .7;
} */
